In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("./../data/df.csv")

In [9]:
df

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,...,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT,AGE_DESC,MARITAL_STATUS_CODE,INCOME_DESC,HOMEOWNER_DESC,HH_COMP_DESC,HOUSEHOLD_SIZE_DESC,KID_CATEGORY_DESC
0,1364,26984896261,1,842930,1,2.19,31742,0.00,1520,1,...,CONVENIENT BRKFST/WHLSM SNACKS,GRANOLA BARS,10 OZ,65+,B,100-124K,Homeowner,Single Female,1,None/Unknown
1,1364,26984896261,1,897044,1,2.99,31742,-0.40,1520,1,...,CRACKERS/MISC BKD FD,SNACK CRACKERS,9.5 OZ,65+,B,100-124K,Homeowner,Single Female,1,None/Unknown
2,1364,26984896261,1,920955,1,3.09,31742,0.00,1520,1,...,BEEF,GRND/PATTY - ROUND,NaN,65+,B,100-124K,Homeowner,Single Female,1,None/Unknown
3,1364,26984896261,1,937406,1,2.50,31742,-0.99,1520,1,...,BREAKFAST SAUSAGE/SANDWICHES,LINKS - RAW,12OZ,65+,B,100-124K,Homeowner,Single Female,1,None/Unknown
4,1364,26984896261,1,981760,1,0.60,31742,-0.79,1520,1,...,EGGS,EGGS - X-LARGE,1 DZ,65+,B,100-124K,Homeowner,Single Female,1,None/Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427298,1369,42302712189,711,844054,1,1.29,446,0.00,1730,102,...,PAPER HOUSEWARES,PLSTC CTLRYTBLCLTHSTTHPKSST,24 CT,25-34,B,Under 15K,Probable Renter,Single Male,1,None/Unknown
1427299,1369,42302712189,711,844759,1,1.69,446,-0.40,1730,102,...,MILK BY-PRODUCTS,REFRIG DIPS,16 OZ,25-34,B,Under 15K,Probable Renter,Single Male,1,None/Unknown
1427300,1369,42302712189,711,959737,2,25.98,446,0.00,1730,102,...,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,25-34,B,Under 15K,Probable Renter,Single Male,1,None/Unknown
1427301,1369,42302712189,711,1135096,1,1.99,446,0.00,1730,102,...,FACIAL TISS/DNR NAPKIN,PAPER NAPKINS,100 CT,25-34,B,Under 15K,Probable Renter,Single Male,1,None/Unknown
1427302,1369,42302712189,711,9526344,1,2.69,446,-0.70,1730,102,...,PAPER HOUSEWARES,PLASTIC/HEAVY PAPER PREM PLATE,44 CT,25-34,B,Under 15K,Probable Renter,Single Male,1,None/Unknown

In [5]:
df[df["PRODUCT_ID"] == 842930][["SALES_VALUE", "QUANTITY"]]

         SALES_VALUE  QUANTITY
0               2.19         1
9131            3.34         2
25965           1.67         1
45108           1.67         1
46957           3.33         2
...              ...       ...
1400506         1.67         1
1401600         1.67         1
1402257         2.12         1
1406901         1.67         1
1425255         2.12         1

[114 rows x 2 columns]

In [4]:
campaign_desc = pd.read_csv("./../data/campaign_desc.csv")

In [7]:
campaign_desc["START_DAY"].max()

659